/* Estilos para el header */

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/* Estilos para la sección de inicio */

#inicio {
	background-color: #eee;
	padding: 50px;
	text-align: center;
}

#inicio h2 {
	margin: 0;
}

.boton {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 20px;
	display: inline-block;
}

.boton:hover {
	background-color: #444;
}

/* Estilos para la sección de bares */

#bares {
	background-color: #fff;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.bar {
	width: calc(50% - 20px);
	margin-bottom: 40px;
}

.bar img {
	max-width: 100%;
}

.bar h3 {
	margin: 20px 0;
}

/* Estilos para la sección de eventos */

#eventos {
	background-color: #eee;
	padding: 50px;
}

#eventos h2 {
	margin: 0;
}

#eventos ul {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

/* Estilos para la sección de contacto */

#contacto {
	background-color: #fff;
	padding: 50px;
	text-align: center;
}

#contacto h2 {
	margin: 0;
}

#contacto form {
	margin-top: 40px;
}

#contacto label {
	display: block;
	margin-bottom: 10px;
}

#contacto input,
#contacto textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 100%;
}

#contacto input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

#contacto input[type="submit"]:hover {
	background-color: #444;
}

/* Estilos para el footer */

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 40px;
}